*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

html, body{
  margin: 0px;
  text-rendering: optimizeLegibility;
  background-attachment: scroll;
  height: 100vh;
  width: 100%;
  scroll-behavior: smooth;
  line-height: 1.15;
  font-family: 'lato', 'Ariel', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

header{
  height: 15%;
  width: 100%;
}

nav + ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  }

li{
  margin: 20px;
  display: inline;
  float: left;
  padding: 5px 5px;
}

.sticky {
  position: fixed;
  top: 0;
  background-color: white;
  height: 10%;
  z-index: 9999;
  box-shadow: 0px 1px 10px #999;
  padding-top: 8px;
}

.sticky ul{
  margin: 0;
}

.sticky li{
  padding: 5px;
  margin: 15px 0px;
}

!div {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}

/* jQuery Styles =================================*/
.navbar-scroll {
	background: #ffffff;
	padding: 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
}
/* =================================== */

/* FIRST SECTION OF PAGE, HOME */
#home{
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 0% 0%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.0)),
    url('../images/main.jpeg');
    z-index: 0;
    display: block;
}

.icon {
  z-index: 2;
  font-size: 64px;
  height: 50px;
  width: 50px;
  display: block;
  position: fixed;
}

#home ul{
  list-style-type: none;
  color: white;
}

.bitmojiSize{
  display: inline-block;
  width: 10%;
  height: 100%;
  z-index: 9999;
}
#bitmoji{
  display: inline-block;
  position: relative;
  height: 100%;
  width: 90%;
  z-index: 9999;
}
#navbar{
  border: 3em;
  width: 100%;
  top: 0;
  margin: 0 auto;
}

.navbar{
  border-bottom: none;
  transition-duration: 0.6s;
  height: 15%;
  display: block;
  width: 100%;
}
#navbar a{
  text-decoration: none;
  padding: 14px 14px;
}

.navb{
  margin-top: 20px;
  float: right;
  list-style: none;
  list-style-type: none;
  padding: 0px 5px;
  height: 70%;
  z-index: 1;
}

.navb a {
  text-decoration: none;
}

.navb li{
  padding: 5px 5px;
  color: black;
  z-index: 1;
  display: block;
}

.navb li a:hover {
  color: white;
  -webkit-transform: scale(1.0);
  z-index: 1px;
  background-color: #4CAF50;
  border-radius: 60%;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  navb ul {
    position: sticky;
    top: 0;
  }
}

/* Add a color to the active/current link */
.navb li a.active {
  /*background-color: #4CAF50;*/
  background: #4CAF50;
  border-radius: 60%;
}

/*Hover color across navbar*/
.navb btn:hover{
  background-color: #4CAF50;
  border-radius: 25px;
}

/* */
img {
  height: 12%;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: 999;
}

/* */
.interests{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0;
  width: 40%;
  height: 70%;
  content:url(../images/lkm.jpg);
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.interests1 {
  display: block;
  width: auto;
  height: 20%;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  bottom: 0px;
}

.vl {
  border-left: thick solid #000000;
}

.interests1 ul li{
  height: 50px;
}

.clearfix{
  overflow: auto;
}

/* about me section */
#textbox-about{
  display: block;
  color: white;
  width: 80%;
  height: 100%;
  background-color: green;
  text-align: left;
  position:inherit; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
  overflow: visible;
}

#textbox{
  padding-left: 30px;
  padding-right: 30px;
  width: 90%;
  height: 80%;
  background-color: white;
  text-align: left;
  display: inline-block;
  left:0; right:0;
  top:0; bottom:0;
  margin-left:5%;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
  color: white;
  margin-top: 30px;
  background-image: linear-gradient(rgba(0, 0, 0,0.3),
  rgba(0, 0, 0,0.3)),url(../images/ghana.jpg);
  background-position: center;
  background-attachment: fixed;
}
h4{
  text-align: left;
}
h4::after{
  height: 2px;
  background-color: white;
  margin-bottom: 20px;
}

#me{
  padding-top: 10px;
  margin: 10px;
  display: block;
}

#textbox + ul{
  display: block;
  list-style-position: inside;
  height: 30px;
  line-height: 30px;
  margin: 5px;
}

#textbox li{
  display: list-item;
  clear: left;
  float: left;
  overflow: visible;
  padding: 0px 0px;
  margin: 5px;
}

#textbox-me{
  background-color: green;
}

#textbox p{
  margin: 20px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
}

h2{
  text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
    z-index: 1;
    margin-bottom: 20px;
}

/* About me section */
#about-me{
  display: block;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: linear-gradient(rgba(0, 0, 0,0.3),
  rgba(0, 0, 0,0.3)),url(../images/matrix.gif);
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

/* Section for Projects*/
#projects{
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  color: black;
  display: block;
  background-size: cover;
  background-color: #e7e3e3;
}

.box li{
  display: list-item;
  list-style-position:inside;
  color: black;
  margin-left: 10px;
  margin: 10px;
}

.row{
  padding: 0 2%;
  zoom:1;
}

.box div{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.box{
    border-radius: 0px;
    box-shadow: 0 2px 2px #000000;
    background-color: #fff;
    height: 90%;
}

.boxes{
  height: 90%;
}

.calculator, .dycd, .omnifood{
  padding-top: 10px;
}

/* Contact Me section */

#contact-me{
  display: block;
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  color: black;
  display: block;
  background-size: cover;
}

#contact-me h2::after{
  display: block;
  height: 2px;
  background-color: #000000;
  content:" ";
  width: 350px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

#contact-me .button {
    border-color: #ff9900;
    border-radius: 25px;
    text-decoration: none;
    border-style: solid;
    border-width: thin;
    display: inline-block;
    padding: 10px 10px;
    font-weight: 300;
    border: 1px solid;
}

#textbox1{
  padding-left: 30px;
  padding-right: 30px;
}

.btn-send-it {
    background-color: #ff9900;
    color: white;
}
.contact-form{
    margin-top: 50px;
}

.innerform{
  margin-bottom: 20px;
}
/* Footer section */

footer{
  background-size: cover;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #333;
  color: white;
  display: block;
  bottom: 10px;
}


.foot{
  padding-left: 16.5px;
  padding-right: 16.5px;
  position: inherit;
  float: right;
}

.footlist{
  float: right;
}

h3{
  text-align: left;
  margin-bottom: 5px;
  margin-left: 5px;
}

.ion-social-twitter {
    color: #E5E8E8;
}
.ion-social-github {
    color: #E5E8E8;
}

.ion-social-linkedin {
    color: #E5E8E8;
}

.ion-social-twitter:hover {
    color: #3BB9FF;
}

.ion-social-github:hover {
    color: #c9510c
}

.ion-social-linkedin:hover {
    color: #0077b5
}

footer p{
  text-align: center;
  font-size: 80%;
  padding-top: 40px;
  margin-top: 20px;
  display: block;
}
